.loader {
    margin-left: 45%;
    margin-top: 16%;
    width: 140px;
    height: 140px;
    border:rgb(196, 197, 231) solid 8px;
    border-radius: 50%;
    border-left-color:#7d40e7;
    animation: loader-rotate 1s linear infinite;
}

@keyframes loader-rotate {
    to { transform: rotate(360deg);}
}
